#table {
  overflow: scroll;
  height: 520px;
  border-radius: 7px 7px 0 0;
  border-bottom: 3px solid #009879;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  height: 55px;
}

.table tbody td, .table thead th {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.table tbody {
  background-color: #ffffff;
}

#cases {
  margin-right: 0px;
}

#recovered {
  margin-left: 0px;
  padding-right: 10px;
}

img {
  width: 50px;
  height: 35px;
}

.table thead #form {
  width: 174px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
}

#cases:hover,
#deaths:hover,
#recovered:hover {
  cursor: pointer;
}

.table thead button {
  background-color: inherit;
  color: #ffffff;
  font-weight: bold;
}

button,
button:hover {
  border-style: hidden;
  border: none;
}

button:focus {
  outline: none;
  font-weight: bold;
}
