#table {
  overflow: scroll;
  max-height: 75vh;
  min-height: 50vh;
  border-radius: 7px 7px 0 0;
  border-bottom: 3px solid #009879;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  height: 55px;
}

.table tbody td, .table thead th {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.shadow {
  box-shadow: 0 0.9rem 1rem rgba(0,0,0,.15)!important;
}

img {
  width: 50px;
  height: 35px;
}
