body {
  margin: 0px;
  padding: 0px;
  background-color: #00003f;
}

.container {
  min-width: 85.7vw;
}

#map-container {
  margin-top: 0.1em;
  padding: 5px;
}

#countries-table-container {
  margin-top: 0.1em;
  padding: 5px;
}

#data-cards-container {
  overflow: hidden;
  padding-right: 5px;
}

#data-nhs-news {
  height: 920px;
  overflow-y: hidden;
  margin-bottom: 25px;
}

#nhs-container {
  padding: 5px;
}

#news-container {
  margin-top: 5px;
  padding: 0px 5px 5px;
  overflow: scroll;
  height: inherit;
}

@media only screen and (min-width: 2339px) {
  #table-container {
    font-size: 1rem;
    width: 28vw;
  }

  #map-component {
    max-height: 50vh;
  }
}

@media only screen and (max-width: 1199px) {
  #table-container {
    width: 29vw;
  }

  #map-component {
    max-height: 55vh;
  }

  #data-nhs-news {
    height: 1500px;
  }
}

@media only screen and (max-width: 768px) {
  #data-nhs-news {
    height: 2500px;
  }
}
