body {
  margin: 0px;
  padding: 0px;
  background-color: #333333;
}

#map {
  padding-right: 5px;
}

#countries-table {
  padding-left: 3px;
}

/* h2 {
  position: absolute;
  z-index: 10;
  color: white;
} */

/* button {
  background-color: inherit;
} */
