body {
  margin: 0px;
  padding: 0px;
  font-family: 'Space Mono', monospace;
  background-color: #00003f;
}

.container {
  min-width: 85.7vw;
}

#map-container {
  margin-top: 0.1em;
  padding: 5px;
}

#countries-table-container {
  margin-top: 0.1em;
  padding: 5px;
}

#data-cards-container {
  overflow: hidden;
  display: inline-flex;
}

@media only screen and (max-width: 767px) {

}
