.card-body {
  padding: 10px;
  padding-bottom: 10px;
  background-color: #E9E8E6;
}

.card-text {
  margin-top: 5px;
}

.card-title.h5 {
  font-weight: bold;
}

#spinner-cards {
  margin: 100px;
}

i {
  float: right;
  font-size: 2rem;
  margin-right: 5px;
}

#card-cases .card-title i,
#card-cases .card-title span {
  color: #ff7a33;
}

#card-deaths .card-title i,
#card-deaths .card-title span {
  color: #bd0026;
}

#card-recovered .card-title i,
#card-recovered .card-title span {
  color: #92a324;
}

#card-cases,
#card-deaths,
#card-recovered {
  min-width: 275px;
  padding: 5px;
  margin: auto;
}

#update {
  display: inline-flex;
  padding-right: 15px;
  float: right;
  font-variant: small-caps;
}
