#danger {
  margin-left: 5px;
  margin-right: 5px;
}

#global {
  padding-right: 15px;
}

#countries {
  padding-left: 20px;
}

.card-body {
  padding: 10px;
  padding-bottom: 10px;
  background-color: #f3f5f7;
}

.card-text {
  margin-top: 5px;
}

i {
  float: right;
  font-size: 2rem;
  margin-right: 5px;
}

#card-cases .card-title i {
  margin-bottom: 0px;
  color: #FF7A33;
}

#card-deaths .card-title i {
  margin-bottom: 0px;
  color: #EB2A2A;
}

#card-recovered .card-title i {
  margin-bottom: 0px;
  color: #228B22;
}

#card-cases,
#card-deaths,
#card-recovered {
  min-width: 275px;
  /* max-height: 300px; */
  padding: 5px;
  margin: auto;
}

.font-weight-bold {
  margin-bottom: 15px;
}

#update {
  display: inline-flex;
  float: right;
}
