#danger {
  margin-left: 5px;
  margin-right: 5px;
}

#global {
  padding-right: 15px;
}

#countries {
  padding-left: 20px;
}

.card-body {
  padding-bottom: 10px;
  background-color: #f3f5f7;
}

#card-cases {
  padding-right: 0px;
}

#card-deaths {
  padding-right: 7px;
  padding-left: 7px;
}

#card-recovered {
  padding-left: 0px;
  padding-right: 15px !important;
}

.font-weight-bold {
  margin-bottom: 15px;
}

#update {
  display: inline-flex;
  float: right;
}

/* #cases:hover {
  border-top: 5px solid #92a324;
}

#deaths:hover {
  border-top: 5px solid #92a324;
}

#recovered:hover {
  border-top: 5px solid #92a324;
} */
