#nhs {
  margin-top: 0px;
  padding: 0px 10px 10px 0px;
}

#spinner-nhs {
  margin: 100px;
}

.nav-tabs > a {
  color: #E9E8E6;
  font-weight: bold;
}

.tab-pane.active img {
  margin-bottom: 15px;
  width: 250px;
  height: auto;
}

.nav-tabs .nav-link.active {
  background-color: #E9E8E6;
}

.nav-tabs .nav-link {
  border-bottom: 1px solid #E9E8E6;
}

.tab-pane {
  padding: 35px;
  background-color: #ffffff;
  overflow-y: scroll;
  height: 625px;
}

@media only screen and (max-width: 1199px) {
  .tab-pane {
    height: inherit;
  }
}

@media only screen and (max-width: 992px) {
  .tab-pane {
    height: 500px;
  }
}
