#spinner-news {
  margin: 130px;
}

#article {
  margin-bottom: 15px;
  background-color: #E9E8E6;
  height: 450px;
}

#article-description {
  padding: 5px 5px 0px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#source {
  margin-bottom: 0px;
}

.far.fa-clock {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1199px) {
  #article {
    height: 440px;
  }
}

@media only screen and (max-width: 768px) {
  #article {
    height: 560px;
  }
}
