.news {
  overflow-y: scroll;
  height: 81vh;
}

#spinner-news {
  margin: 100px;
}

#article {
  margin-bottom: 10px;
  background-color: #E9E8E6;
}

#article-description {
  padding: 5px 5px 0px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#source {
  margin-bottom: 0px;
}

.far.fa-clock {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
