#map-component {
  display: flex;
  overflow: hidden;
  background-color: #E9E8E6;
}

#marker {
  border: 1px solid black;
  opacity: 0.9;
  border-radius: 50%;
}

#controller {
  position: absolute;
  right: 0;
}
